
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ volume.name }}</title>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="build/leaflet/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="build/pagedjs/interface.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/print.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/map.css" />
    <link rel="stylesheet" type="text/css" href="css/cover.css" />

    <!-- leaflet -->
    <script src="build/leaflet/leaflet.js"></script>
    <!-- leaflet markercluster plugin -->
    <!-- <script src="build/Leaflet.markercluster/dist/leaflet.markercluster.js"></script> -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <script src="js/map.js"></script>
    <script src="js/pattern.js"></script>
    <script>
      // call the init map function after paged.js has finished creating the document
      window.PagedConfig = {
      after: function () {
          init_all_maps();
          init_cover_map();
          init_patterns();
        }
      };
    </script>

    <!-- pagedjs -->
    <script src="build/pagedjs/paged.polyfill.js"></script>

</head>

<body class="">

  <script>
    // create a json where key is cluster id and value is the geojson of the cluster
    // in order to draw the point of the cluster maps
    if (!window.geojson) {
     window.geojson = {} ;
    }
  </script>

    <!-- COVERS -->

    <!-- minimal mini street -->
    <!-- <div class="fullpage cover">

      <div class="street">_¡_._<i>¡</i>_¡_¡__</div>

      <div class="cover-description">
        missing and damaged boolards <br/>
        reported on <a href="https://fixmystreet.brussels/">https://fixmystreet.brussels/</a> <br/><br/>
        in <h1 data-postal="{{ volume.code }}">{{ volume.name }}</h1>
      </div>
      <p>
        {{volume.cluster_size}} clusters <br/>
        {{volume.incident_size}} incidents
      </p>
    </div> -->

    <!-- actual map -->
    <!-- <div id="actual-map" class="fullpage cover">
      <div class="cover-description">
        missing and damaged boolards <br/>
        reported on <a href="https://fixmystreet.brussels/">https://fixmystreet.brussels/</a> <br/><br/>
        in
      </div>
      <p>
        {{volume.cluster_size}} clusters <br/>
        {{volume.incident_size}} incidents
      </p>

      <div class="centred-layer">
        <h1 data-postal="{{ volume.code }}">{{ volume.name }}</h1>
      </div>

      <div id="cover-map"></div>
    </div> -->

    <!-- pattern ellipsis -->
    <!-- <div id="pattern-ellipsis" class="fullpage cover">

      <div class="pattern">
      </div>

      <div class="ellipsis">
        <h1 data-postal="{{ volume.code }}">{{ volume.name }}</h1>
        <p>
          {{volume.cluster_size}} clusters <br/>
          {{volume.incident_size}} incidents
        </p>
      </div>

    </div> -->

    <!-- big ! -->
    <div id="big-potelet" class="fullpage cover">

      <div class="cover-description">
        <b>?</b> missing and <b>!</b> damaged boolards <br/>
        reported on <a href="https://fixmystreet.brussels/">https://fixmystreet.brussels/</a> <br/>
        in<br/>
        <h1 data-postal="{{ volume.code }}">{{ volume.name }}</h1> <br/>
         {{volume.cluster_size}} clusters <br/>
         {{volume.incident_size}} incidents <br/><br/>
        {{volume.date.day}}
      </div>

      <div class="big-potelet">¡</div>

    </div>


    <!-- CONTENT FLOW -->
    {% for cluster in clusters %}

      <section id="{{ cluster.id }}" class="cluster">

        <!-- <div class="header-wrapper"> -->
        <header>

          <h1 class="cluster-title">
            <!-- <span class="cluster-commune"> -->
              of {{ volume.name }}
            <!-- </span> -->
          </h1>

          <p>Number of incidents: {{ cluster.size }}</p>

          <!-- GEOJSON -->
          <div id="map-{{ cluster.id }}" class="map"></div>
          <script>
            // dumping json from python (can read file) to js (cannot) when generating the template
            // using window. so we can get it back into other js script
            window.geojson["{{ cluster.id }}"] = {{ cluster.geojson|tojson|safe }} ;
            console.log("added a geojson of " + window.geojson["{{ cluster.id }}"]["features"].length + " points");
          </script>

          <!-- <div class="streets">
            <ul>
              {% for streets in cluster.streetnames %}
              <li>{{ streets }}</li>
              {% endfor %}
            </ul>
          </div> -->

          <table class="summary">
            <tr>
              <th>id</th>
              <th>type</th>
              <th>date</th>
              <!-- <th>status</th> -->
              <th>adress</th>
            </tr>
            {% for potelet in cluster.incidents %}
            <tr class="{{ potelet.img_or_txt }}">
              <td>{{ potelet.id }}</td>
              <td class="{{ potelet.subcat }}">{{ potelet.subcat }}</td>
              <td>{{ potelet.creationDate.day }}</td>
              <!-- <td>{{ potelet.status }}</td> -->
              <td>{{ potelet.adress }}</td>
            </tr>
            {% endfor %}
          </table>

        </header>
        <!-- </div> -->

        <!-- <div class="main-wrapper">
        <main> -->

        {% for potelet in cluster.incidents %}

          <div id="p{{ potelet.id }}" class="potelet {{ potelet.subcat }} {{ potelet.img_or_txt }}"
                data-last-in-cluster="#p{{ potelet.last_in_cluster }}">

            <header>

              <h2>
                <span class="potelet-symbol">
                  {% if potelet.subcat == 'damaged' %}
                  !
                  {% elif potelet.subcat == 'missing' %}
                  ?
                  {% endif %}
                </span>
                <span class="potelet-id">
                  {{ potelet.id }}
                </span>
                <a target="_blank" href="{{ potelet.url }}">↗</a>
              </h2>

              <div class="you-are-here" data-last-in-cluster="#p{{ potelet.last_in_cluster }}">
                <div>
                  <span class="yah-incident">incident {{ potelet.id }} (<span class="yah-incident-count"></span> of {{ cluster.size }})</span>
                  <span class="yah-separator"></span>
                  <span class="yah-cluster">cluster</span>
                  <span class="yah-separator"></span>
                  <span class="yah-commune">{{ volume.name }}</span>
                </div>
              </div>


              <p>
                Public furniture / Bollard / {{ potelet.subcat }} <br>
                {{ potelet.adress }}<br>
                Created: {{ potelet.creationDate.day }} <br>
                Last updated: {{ potelet.updatedDate.day }} <br>
                Status: {{ potelet.status }} <br>
                Responsible organisation: {{ potelet.actor }}
              </p>

            </header>

              <main>

                <!-- <div class="history">
                  <h4>history</h4>
                  <ul>
                  {% for story in potelet.history %}
                    <li>
                      <p>
                      {{ story.type }} by {{ story.actor }}
                      </p>
                      <p class="date">{{ story.date.day }} at {{ story.date.time }}</p>
                    </li>
                  {% endfor %}
                  </ul>
                </div> -->

                  <ul class="attachments">
                  <!-- <h4>attachments</h4> -->

                  {% for attachment in potelet.attachments %}
                    {% if attachment.firstafterinitial %}
                    <h4>after initial posts</h4>
                    {% endif %}
                    {% if attachment.type == 'PICTURE' %}

                    <li class="image {{ attachment.first }}">
                      <header class="post-header">
                        <div>{{ attachment.type }} by {{ attachment.actor }}</div>
                        <div>{{ attachment.date.day }} at {{ attachment.date.time }}</div>
                      </header>
                      <figure>
                        <img src="{{ attachment.href }}">
                        {% if attachment.text and attachment.text != 'Mobile Upload' %}
                          <figcaption class="user-content">{{ attachment.text }}</figcaption>
                        {% endif %}
                      </figure>
                    </li>

                    {% elif attachment.type == 'COMMENT' %}
                    <li class="comment {{ attachment.first }}">
                      <header class="post-header">
                        <div>{{ attachment.type }} by {{ attachment.actor }}</div>
                        <div>{{ attachment.date.day }} at {{ attachment.date.time }}</div>
                      </header>
                      <p class="text user-content">{{ attachment.text }}</p>
                    </li>
                    {% elif ( attachment.type == 'SYSTEM_COMMENT' or
                              attachment.type == 'DISMISSAL_COMMENT' or
                              attachment.type == 'MERGE_COMMENT' or
                              attachment.type == 'REOPEN_COMMENT') %}
                    <li class="syscomment {{ attachment.first }}">
                      <header class="post-header">
                        <div>{{ attachment.type }} by {{ attachment.actor }}</div>
                        <div>{{ attachment.date.day }} at {{ attachment.date.time }}</div>
                      </header>
                      <div class="text"> {{ attachment.text }}</div>
                    </li>
                    {% endif %}

                  {% endfor %}
                  </ul>
              </main>

              <!-- empty footer for counter-increment -->
              <footer></footer>

            </div>

          {% endfor %}

          <!-- <main>
        </div> -->

        <!-- same counter-increment for cluster -->
        <!-- <footer></footer> -->

      </section>

    {% endfor %}

</body>

</html>
