
<!DOCTYPE html>
<html lang="en">

<head>
    <title>missing and damaged</title>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="build/leaflet/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="build/pagedjs/interface.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/print.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/cover.css" />

    <!-- leaflet -->
    <script src="build/leaflet/leaflet.js"></script>

    <script src="js/map.js"></script>
    <script>
      // call the init map function after paged.js has finished creating the document
      window.PagedConfig = {
      after: function () {
          init_map();
        }
      };
    </script>

    <!-- pagedjs -->
    <script src="build/pagedjs/paged.polyfill.js"></script>

</head>

<body>

    <!-- COVERS -->
    <div class="fullpage cover cover1">
      <h1>_¡_¡_&nbsp;_<i>¡</i>_¡_</h1>
      <h2>
        missing and damaged boolards in Bruxelles <br/>
        reported on <a href="https://fixmystreet.brussels/">https://fixmystreet.brussels/</a>
      </h2>
    </div>

    <!-- <div class="cover cover2">
      <h1>
        <span class="missing">&nbsp;</span>
        <span class="damaged">¡</span>
      </h1>
      <h2>
        6349<br/>
        missing and damaged <b>¡</b><br/>
        in Bruxelles <br/>
        reported on <a href="https://fixmystreet.brussels/">https://fixmystreet.brussels/</a>
      </h2>
    </div> -->

    <!-- <div class="cover cover3">
      <h1>
        <span class="missing">¡</span>
        <span class="damaged">¡</span>
      </h1>
      <h2>
        6349<br/>
        missing and damaged <b>¡</b><br/>
        in Bruxelles <br/>
        reported on <a href="https://fixmystreet.brussels/">https://fixmystreet.brussels/</a>
      </h2>
    </div> -->

    <div class="fullpage">
      <div id="map" class="map"></div>
    </div>


    <!-- CONTENT FLOW -->
    {% for potelet in potelets %}

        <div class="potelet {{ potelet.subcat }}">

          <header>

            <div class="onelineflex">
              <h2> {{ potelet.id }} </h2>
              <span> - Public furniture / Bollard / {{ potelet.subcat }} </span>
              <a target="_blank" href="{{ potelet.url }}">↗</a>
            </div>


            <p>
              <i>{{ potelet.adress }}</i> <br>
              <small>(x: {{ potelet.coordinates.x }} , y: {{ potelet.coordinates.y }})</small> <br>
              CLUSTER: {{ potelet.cluster_id }}
            </p>

            <p>
            STATUS: {{ potelet.status }} <br>
            Created: {{ potelet.creationDate.day }} at {{ potelet.creationDate.time }}
            ⟶ Last updated: {{ potelet.updatedDate.day }} at {{ potelet.updatedDate.time }}
            </p>

            <p>
            Organisation: {{ potelet.responsibleOrganisation }}   <br>
            Department: {{ potelet.responsibleDepartment }}
            </p>
          </header>

          <main>

            <div class="history">
              <h4>history</h4>
              <ul>
              {% for story in potelet.history %}
                <li>
                  <p>
                  {{ story.type }} by {{ story.actor }}
                  </p>
                  <p class="date">{{ story.date.day }} at {{ story.date.time }}</p>
                </li>
              {% endfor %}
              </ul>
            </div>

            <div class="attachments">
              <h4>attachments</h4>
              <ul>
              {% for attachment in potelet.attachments %}
                <li>
                  <p>
                  {{ attachment.type }} by {{ attachment.actor }}
                  </p>

                  {% if attachment.type == 'PICTURE' %}
                    <img src="{{ attachment.href }}">
                  {% elif attachment.type == 'COMMENT' %}
                    <p class="comment">{{ attachment.text }}</p>
                  {% elif ( attachment.type == 'SYSTEM_COMMENT' or
                            attachment.type == 'DISMISSAL_COMMENT' or
                            attachment.type == 'MERGE_COMMENT' or
                            attachment.type == 'REOPEN_COMMENT') %}
                    <p class="syscomment"> {{ attachment.text }}</p>
                  {% endif %}

                  <p class="date">{{ attachment.date.day }} at {{ attachment.date.time }}</p>
                </li>
              {% endfor %}
              </ul>
            </div>

          </main>

        </div>

    {% endfor %}

    <!-- GEOJSON -->
    <!-- dumping json from python (can read file) to js (cannot) when generating the template-->
    <script>
      // using window. so we can get it back into other js script
      if (!window.geojson) {
       window.geojson = {{ geojson|tojson|safe }} ;
      }
      console.log(window.geojson['features'].length + " geojson objects");
    </script>

</body>

</html>
