
/* ___ COVER DESIGN ___ */

/* .cover h1{
  display: inline-block;
  color: black;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  margin: 0;
} */
.cover h1{
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}


/* get back the postal code */
.cover h1{
  string-set: postal attr(data-postal);
}

.cover-description{
  font-size: 1em;
  font-weight: normal;
  text-align: left;
}
.cover-description a{
  color: black;
}

/* -------GRAPHIC-------- */

#cover-map{
  background: transparent;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 0;
}
#cover-map .leaflet-control-container{
  display: none;
}
#cover-map .marker > span{
  font-size: 10em;
  color: white;
}


.centred-layer{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centred-layer h1{
  font-size: 10em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1pt black;
  text-align: center;
  z-index: 999;
}

/* ___ POTELET STREET ___ */

.cover .street{
  /* font-family: "Liberation Serif Faux"; */
  font-family: "Liberation Mono";
  font-weight: bold;
  font-size: 98pt;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2rem;
}

/* ___ ELLIPSIS MAP ___ */

.cover .ellipsis{

  background: white;
  position: relative;
  z-index: 2;

  /* same than the maps */
  width: 100%;
  height: calc(calc(var(--pagedjs-pagebox-width) - 3.8cm) * calc(2/3));
  border-radius: 50%;
  border: 1pt black solid;

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cover .ellipsis *{
  flex: 1 0 100%;
  text-align: center;
}

#pattern-ellipsis .ellipsis{
  margin-top: 5cm;
}


/* ___ PATTERNS ___ */

.pattern{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  font-family: "Liberation Mono";
  font-weight: normal;
  height: 100%;
  max-height: 100%;

  overflow: hidden;

  font-size: 2em;
}
.pattern .damaged{
  font-style: italic;
}
.pattern .missing{
  color: transparent;
}


/* ___ BIG POTELETS ___ */

/* #big-potelet h2 span{
  width: 10cm;
  height: 5cm;
  margin: 0.5cm 0;
  border-radius: 50%;
  border: 1pt black solid;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

.big-potelet{
  font-family: "Liberation Serif Faux";
  font-size: 700pt;
  font-weight: bold;
  font-style: italic;

  position: absolute;
  bottom: -0.08em; right: 0.04em;
}
