
@font-face {
  font-family: "Liberation Mono";
  src: url("/layout/fonts/liberation-mono/LiberationMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Liberation Mono";
  src: url("/layout/fonts/liberation-mono/LiberationMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Mono";
  src: url("/layout/fonts/liberation-mono/LiberationMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Mono";
  src: url("/layout/fonts/liberation-mono/LiberationMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: "Liberation Serif";
  src: url("/layout/fonts/liberation-serif/LiberationSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("/layout/fonts/liberation-serif/LiberationSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("/layout/fonts/liberation-serif/LiberationSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("/layout/fonts/liberation-serif/LiberationSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Liberation Serif Faux";
  src: url("/layout/fonts/liberation-serif/LiberationSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
