
/* .pagedjs_page_content > div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
} */

img{
  max-width: 25%;
  max-height: 25%;
}

/* ___ PRINT ____  */

@media print{

  @page {
    size: A4;
    margin: 1.6cm;
  }

}
