
/*
NOTE:
column-fill: auto; doesn't work in chrome
 */


/* ___ GLOBAL ____  */

:root{
  /* --border-structure: 1pt solid black; */
  /* --border-structure: none; */
  --border-content: 1pt solid black;
}

html{
  font-size: 12pt;
}
body{
  font-family: "Liberation Mono";
  font-size: 0.8125rem;
  line-height: 1.2;
  /* font-size: 0.75rem; */
}
.user-content{
  font-family: "Liberation Serif";
  font-style: italic;
  font-size: 1rem;
  line-height: 1.2;
}

p{
  margin: 0;
}

hr{
  margin: 1em 0;
  border: none;
  border-bottom: var(--border-structure);
}

.onelineflex{
  display: flex;
  align-items: baseline;
}

.pagedjs_margin-bottom-left.hasContent,
.pagedjs_margin-bottom-center.hasContent,
.pagedjs_margin-bottom-right.hasContent{
  border-top: var(--border-structure);
}

/* ___ TITLES ____ */

.cluster > header  h1::before{
  content: "Cluster " counter(cluster);
}

.cluster > header h1,
.potelet > header h2{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.cluster > header h1{
  column-span: all;
  border-bottom: var(--border-structure);
}
.cluster > header h1 span.cluster-commune{
  font-size: 0.8125rem;
  text-transform: none;
  font-weight: normal;
}


.potelet > header h2{
}
.potelet > header span.potelet-symbol{
  /* margin-right: -0.6em; */
}
.potelet > header span.potelet-id{
  /* margin-left: -0.6em; */
}

/* link */
.potelet > header a{
  /* position: absolute; */
  /* top: 1.5rem; right: 1rem; */
  /* top: 0rem; right: 0rem; */
  font-size: 0.8125rem;
  vertical-align: text-top;
  text-decoration: none;
  font-weight: normal;
}
/* ___ CLUSTERS ____  */

.cluster > header p:first-of-type{
  margin-top: 0;
}

/* cluster table summary */
.cluster table.summary{
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.cluster table.summary th,
.cluster table.summary td{
  border: var(--border-structure);
  /* padding: 0.4em 0.5em 0.2em; */
}
.cluster table.summary th{
  text-align: left;
  margin-bottom: 0.5em;
  border-bottom: var(--border-content);
}
.cluster table.summary tr:nth-child(2) td{
  padding-top: 1em;
}
.cluster table.summary td:not(:last-child){
  padding-right: 1em;
  /* padding-bottom: 0.5em; */
}
.cluster table.summary td.damaged::before{
  /* content: "⬤"; */
  content: "!";
  font-weight: bold;
  padding-right: 0.5em;
}
.cluster table.summary td.missing::before{
  /* content: "◯"; */
  content: "?";
  font-weight: bold;
  padding-right: 0.5em;
}
.cluster table.summary tr,
.cluster table.summary td{
  vertical-align: baseline;
}

/* ___ HEADER ___ */

.potelet > header{
  border: var(--border-structure);
  /* padding: 1.5rem 1rem 0.5rem;
  margin-bottom: 1.5rem; */
  margin-bottom: 2em;
  position: relative;
}

.potelet h4{
  /* padding-left: 1em; */
  /* margin-top: 0; */
  border-bottom: var(--border-structure);
}

/* ___ THE CONTENT ___ */

ul.attachments{
  margin: 0;
  padding-left: 0;
}
ul.attachments li{
  list-style: none;
  margin: 0;
}
ul.attachments > li:not(:last-child){
  margin-bottom: 2em;
}

ul.attachments > li > *:not(:last-child){
  margin-bottom: 0.5em;
}
ul.attachments > li > header.post-header{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
}
ul.attachments > li > header.post-header > *:last-child{
  flex-grow: 1;
  text-align: right;
}

/* ___ indicator of the end of an incident ___*/
ul.attachments li:last-child::after{
  /* make sure we have enough space
     if not make it will make it jumps on the next column*/
  /* content: "";
  display: block;
  height: 2.5em;
  width: 100%; */
  /* TODO: but then we must also make sure that every list element
  has a maximum heigh of all available height minus the margin botom of 2em*/
}
/* .potelet > footer{
  height: 0;
  position: relative;
}
.potelet > footer::after{
  content: "";
  position: absolute;
  bottom: 0.5em; right: 0;
  width: 1em;
  height: 1em;
  background: transparent;
  border: var(--border-structure);
} */

/* ___ COMMENTS STYLING ___*/

ul.attachments .comment .text{
  display: inline-block;
  width: auto;
  margin: 0;

  border: var(--border-content);
  padding: 1em 1.5em;
  border-radius: 2em;
}

ul.attachments figure img{
  display: block;
}
ul.attachments figure figcaption{
  /* border-bottom: var(--border-content); */
  padding: 1em 1.5em;
  text-align: center;
  border-left: var(--border-content);
  border-right: var(--border-content);
  border-bottom: var(--border-content);
}
ul.attachments figure figcaption::before{
  /* content: "↳ “"; */
  /* content: "⤷ "; */
  /* font-style: normal; */
  /* ⤷ */
}
ul.attachments figure figcaption::after{
  /* content: "”"; */
}

/* not show syscomment ? */
ul.attachments .syscomment .text{
  display: inline-block;
  margin-left: 1.5em;
  /* background: whitesmoke; */
  font-style: italic;
}

/* ___ NO CONTENT BREAK ONLY ON COLUMN ___ */
.potelet.empty-content main::after{
  content: "No PICTURE or COMMENT for this incident...";
  display: block;
  margin-bottom: 2em;
}

/* ___ FIRST POSTS / LATER POSTS DISTINCTION___*/
/* ul.attachments li.first-post{
  background: lightyellow;
}
ul.attachments li:not(.first-post){
  background: green;
} */
/*
TODO: make this version work
 */
/* ul.attachments li:not(.first-posts):first-of-type::before{
  content: "RESPONSE";
  display: inline-block;
  width: 100%;
  background: green;
} */

/* ___ ONE ELEMENT CAN'T TAKE MORE THAN PAGE HEIGHT ___*/
/*
TODO: adaptive page-height
 */
ul.attachments li{
  /* maximum height is the paper sheet */
  /* max-height: calc(29.7cm - calc(1.6cm + 2.4cm)); */

  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
}

ul.attachments li.image > p{
  /* flex-grow: 0;
  flex-shrink: 0; */
}
ul.attachments figure{
  margin: 0;
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* max-height: calc(calc(29.7cm - calc(2 * 1.6cm)) - 4em); */
}
ul.attachments figure img{
  width: 100%;
  height: auto;

  /* l'image est rogner si trop haute ! */
  max-height: calc(calc(var(--pagedjs-pagebox-height) - calc(var(--pagedjs-margin-top) + var(--pagedjs-margin-bottom))) - 8em);
  object-fit: cover;
  object-position: center;
}
