/* ___ MAPS ____  */

.map{
  box-sizing: border-box;
  margin-top: 2em;
  width: calc(100%);
  /* height: calc(calc(var(--pagedjs-pagebox-width) - 3.8cm) * calc(2/3)); */
  height: 16cm;
  border-radius: 50%;
  /* border: var(--border-content); */
  border: 2pt dotted black;
  /* outline-offset: 10pt; */
}
.leaflet-container {
  font-family: "Liberation Mono";
  font-size: 1em;
}
.leaflet-control-attribution{
  display: none;
}

.leaflet-div-icon{
  background: none;
  border: none;
}

.leaflet-marker-icon{
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: auto !important;
  height: auto !important;

  /* position: relative; */
}
.leaflet-marker-icon > .marker-box{
  position: relative;
}
.leaflet-marker-icon > .marker-box::before{
  content: '';
  display: block;
  width: 2em;
  height: 2em;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: -1em; left: -1em;
  z-index: 1;
}
.leaflet-marker-icon > .marker-box > .flex-label{
  background: white;
  display: flex;
  flex-direction: column;
  border: 1pt solid black;
  background: white;
  padding: 0.2em 0.4em 0em;
  border-radius: 0em 0.5em 0.5em 0.5em;
  position: relative;
  z-index: 2;
}

.leaflet-marker-icon > .marker-box > .flex-label > div{
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.2;
  background: white;

  font-family: "Liberation Mono";
}
.leaflet-marker-icon div.damaged::before{
  content: "!";
  font-weight: bold;
  padding-right: 0.5em;
}
.leaflet-marker-icon div.missing::before{
  content: "?";
  font-weight: bold;
  padding-right: 0.5em;
}

/* .potelet{
  display: none;
} */
