@media print{

  @page {
    size: A4 landscape;
    /* size: A3 landscape; */
    margin-top: 1.2cm;
    margin-left: 1.6cm;
    margin-right: 1.6cm;
    margin-bottom: 1.6cm;

    @bottom-left{
      content: "p. " counter(page);
      /* align-items: flex-end; */
    }
  }

  /* @page:left{
    @left-top {
    }
  }
  @page:right{
    @right-top {
      content: "p. " counter(page);
    }
  } */

  @page:blank {
    @top-right { content: none; }
  }

  @page incident{
    @bottom-left {
      /* content: string(potelet-symbol) string(potelet-id) "\00A0\2014\00A0(" counter(potelet) "/" target-counter(string(potelet-lastin), potelet) ")\00A0➤\00A0" "cluster " counter(cluster) "\00A0➤\00A0" string(postal); */
      /* content: "incident " string(potelet-id) "\00A0\2014\00A0(" counter(potelet) "/" target-counter(string(potelet-lastin), potelet) ")"; */
      text-transform: lowercase;
    }
    @bottom-center {
      /* content: "cluster " counter(cluster); */
    }
    @bottom-right {
      /* content: string(postal); */
      content: element(youarehere);
    }
  }

  /*
  @page cluster{
    @bottom-center {
      content: "cluster " counter(cluster);
      border-radius: 50%;
      border: 1pt solid black;
      margin: 0.5cm 0;
      width: 3.6cm;
    }
    @bottom-right {
      content: string(postal);
    }
  } */

  @page cover{
    @bottom-left {
      content: none;
    }
    @bottom-center {
      content: none;
    }
    @bottom-right {
      content: none;
    }
    @top-right {
      content: none;
    }
  }

}

.pagedjs_margin-bottom{
  grid-template-columns: 1fr 1fr 2fr !important;
}

.you-are-here{
  position: running(youarehere);
}
.you-are-here > div{
  /* so it's aligned witht the column content */
  padding-left: 2em;
  display: flex !important;
  justify-content: space-between;
}
.you-are-here > div > span.yah-separator::after{
  content: "›";
  font-weight: bold;
}
.you-are-here > div > span.yah-incident::before{
  content: string(potelet-symbol);
  font-weight: bold;
}
.you-are-here > div > span.yah-incident::after{
  /* content: " (" counter(potelet) " of " target-counter(attr(data-last-in-cluster), potelet) ")"; */
  /* content: attr(data-last-in-cluster); */
}
.you-are-here > div > span.yah-incident > span.yah-incident-count::after{
  content: counter(potelet);
}
.you-are-here > div > span.yah-cluster::after{
  content: " " counter(cluster);
}
.you-are-here > div > span.yah-commune{

}

/* ---------- */

.pagedjs_page_content{
  column-width: auto !important;
  column-count: 2 !important;
  column-gap: 4em !important;
}

.fullpage{
  width: calc(var(--pagedjs-pagebox-width) - calc(var(--pagedjs-margin-left) + var(--pagedjs-margin-right)));
  height: calc(var(--pagedjs-pagebox-height) - calc(var(--pagedjs-margin-top) + var(--pagedjs-margin-bottom)));
  overflow: auto;
}

/* ___ LAYOUT & COUNTER___ */

body{
  counter-reset: cluster;
  counter-reset: potelet;
}

/* COVER */
.cover{
  break-before: always;
  page: cover;
}

/* CLUSTER */
.cluster{
  break-before: always;
  page: cluster;
  counter-increment: cluster;
}
.cluster > header{
  counter-reset: potelet;
  counter-set: potelet 1;
}

/* CLUSTER INTRO CONTAINER */

/* Since firefox doesn't supports break-before: column at all we use chrome.
but in chrome the column-fill: auto doesn't do the same than in firefox.
instead of filling the column until it reaches a limit in height in its parent,
it refers to the the height of the div with the column property.
if the height of the column div is not stretch to the page size,
chrome will skrink it as much as possible, creating a "balance column" layout
but if it is declared as 100% or 21cm for example,
then it doesn't page-break as wanted (the content continue to the right...),
because the content has to go below the height of the page, which can't be the
case anymore since we set it to be less or exact the one of the page
so we use a wrapper with flex and it works !!
Note: any values bigger than the page work too, and if we do this we don't
need a wrapper anymore*/
/* .cluster > .header-wrapper{
  height: calc(var(--pagedjs-pagebox-height) - calc(var(--pagedjs-margin-top) + var(--pagedjs-margin-bottom)));
  display: flex;
  flex-direction: column;
}
.cluster > .header-wrapper > header{
  flex-grow: 1;

  column-fill: auto;
  column-count: 2;
  column-gap: 1em;
}
.A3 .cluster > .header-wrapper > header{
  flex-grow: 1;

  column-count: 3;
  column-gap: 2em;
} */

.cluster table.summary{
  break-before: column;
  /* old but needed for chrome to break before a column */
  -webkit-column-break-before: always;
}
.cluster table.summary tr,
.cluster table.summary td{
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

/* POTELETS CONTAINER */
/* .cluster > .main-wrapper{
  height: calc(calc(var(--pagedjs-pagebox-height) - calc(var(--pagedjs-margin-top) + var(--pagedjs-margin-bottom))));
  display: flex;
  flex-direction: column;
}
.cluster > .main-wrapper > main{
  flex-grow: 1;

  column-fill: auto;
  column-count: 2;
  column-gap: 2em;
}
.A3 .cluster > .main-wrapper > main{
  flex-grow: 1;

  column-count: 3;
  column-gap: 2em;
} */

/* POTELETS */
.potelet:not(:first-of-type){
  break-before: always;
  /* old but needed for chrome to break before a column */
  /* -webkit-column-break-before: always; */
}

.potelet{
  page: incident;
  position: relative;

  /* not working... */
  /* string-set: potelet-symbol attr(data-symbol); */
  /* string-set: potelet-lastin attr(data-lastincluster); */
}
.potelet > header .lastincluster::before{
  /* not working */
  /* content: target-counter(attr(href url), potelet); */
}
.potelet > header{
  break-inside: avoid;
}
/* .potelet > header .lastincluster{
  display: none;
  string-set: potelet-lastin content(text);
} */
/* .potelet::before{
  content: attr(data-symbol);
} */
.potelet span.potelet-symbol{
  string-set: potelet-symbol content(text);
}
.potelet span.potelet-id{
  string-set: potelet-id content(text);
}

.potelet > footer{
  counter-increment: potelet;
}

/* TODO:  separation entre les potelets sur le format A3 landscape*/
.potelet:not([data-split-original="true"])::after{
  /* content: "";
  display: block;
  position: absolute;
  top: 0; right: -1em;
  height: calc(var(--pagedjs-pagebox-height) - calc(var(--pagedjs-margin-top) + var(--pagedjs-margin-bottom)));
  width: 1pt;
  background: black; */
}
.potelet h4{
  break-after: avoid;
  -webkit-column-break-after: avoid;
}

.potelet.empty-content + .potelet.empty-content{
  break-before: column;
  /* old but needed for chrome to break before a column */
  -webkit-column-break-before: always;
}

/* ATTACHMENTS */
ul.attachments li{
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
