
/* ___ GLOBAL ____  */

html{
  font-size: 1em;
}
body{
  font-family: "Liberation Mono";
  font-size: 0.875rem;

  counter-reset: cluster;
}

.mono{
  font-family: "Liberation Mono";
  font-size: 0.875rem;
}
.serif{
  font-family: "Liberation Serif";
  font-size: 1rem;
}

hr{
  margin: 1em 0;
  border: none;
  border-bottom: 0.5pt solid lightgrey;
}
ul{
  padding-left: 0;
  margin: 1em 0;
}
li{
  list-style: none;
  break-inside: avoid;
  margin: 0;
}

.onelineflex{
  display: flex;
  align-items: baseline;
}


/* ___ COVER ____  */

.cover{
  break-before: always;
  page: cover;
}

/* ___ MAPS ____  */

.map{
  width: 100%;
  height: calc(calc(var(--pagedjs-pagebox-width) - 3.8cm) * calc(2/3));

  border-radius: 50%;
  border: 1pt black solid;
  /* box-shadow: 0 0 24pt lightgrey; */
}

.leaflet-container {
  font-family: "Liberation Mono";
  font-size: 0.8125rem;
}

.leaflet-control-attribution{
  display: none;
}

.leaflet-tooltip.my-labels {
  border: transparent;
  box-shadow: none;

  background-color: white;
}

/* ___ CLUSTERS ____  */

.cluster{
  break-before: always;
  page: cluster;
  counter-increment: cluster;
}
.cluster > header > h1{
  font-size: 1.5em;
  margin: 0;
}
.cluster > header > h1::before{
  content: "Cluster " counter(cluster) " of " string(postal);
}
.cluster > header{
  counter-reset: potelet;
  counter-set: potelet 1;
}

/* .cluster h1{
  string-set: cluster-id content(text);
} */

/* cluster table summary */
.cluster table.summary{
  margin-top: 2em;

  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.cluster table.summary th{
  text-align: left;
  /* padding-bottom: 0.5em; */
}
.cluster table.summary th,
.cluster table.summary td{
  border: 0.5pt solid lightgrey;
  padding: 0.4em 0.5em 0.2em;
}
.cluster table.summary th:not(:last-child),
.cluster table.summary td:not(:last-child){
  /* padding-right: 2em; */
}
.cluster table.summary td.damaged::before{
  content: "⬤";
  padding-right: 1em;
}
.cluster table.summary td.missing::before{
  content: "◯";
  padding-right: 1em;
}
.cluster table.summary tr,
.cluster table.summary td{
  break-inside: avoid;
}
/* .cluster table.summary tr.empty-content{
  color: darkgrey;
} */


/* ___ POTELETS ____  */

.potelet{
  break-before: always;
  page: incident;
}
.potelet footer{
  counter-increment: potelet;
  content: "counter-increment " counter(potelet);
  display: inline;
}

/* ___ HEADER ___ */

.potelet header{
  border: 0.5pt solid lightgrey;
  padding: 1.5em 1em 0.5em;
  margin-bottom: 1em;

  position: relative;
}
.potelet header h2{
  font-size: 1.5em;
  margin: 0;
  string-set: potelet-id content(text);
}

.potelet header .onelineflex > *{
  margin-bottom: 0;
}
.potelet header .onelineflex > *:last-child{
  flex-grow: 1;
  text-align: right;
}
.potelet header a{
  font-size: large;
  text-decoration: none;
}

.potelet main h4{
  padding-left: 1em;
  border-bottom: 0.5pt solid lightgrey;
  break-after: avoid;
}

/* no content */
.potelet.empty-content + .potelet.empty-content{
  break-before: always;
}
.potelet.empty-content main::after{
  content: "No PICTURE or COMMENT for this incident...";
  display: block;
  margin-bottom: 2em;
}

/* ___ THE CONTENT ___ */

ul.attachments{
  margin: 0;
  padding-left: 0;
}
ul.attachments li{
  list-style: none;
  break-inside: avoid;
}
ul.attachments li p:first-child{
  margin-top: 0;
}
ul.attachments li p{
  margin: 0.5em 0;
}
ul.attachments li p:last-child{
  margin-bottom: 0;
}

ul.attachments .date{
  text-align: right;
  /* font-size: smaller; */
}

ul.attachments li.first-post{
  background: lightyellow;
}
ul.attachments li:not(.first-post){
  background: green;
}
/* ul.attachments li.first-post:last-of-type::after{
  content: "+++++++++++++";
  display: block;
  background: red;
  height: 1cm;
  width: 100%;
  border-bottom: 1pt solid black;
} */

/* flex img/comment */
.potelet.flex ul.attachments{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.potelet.flex ul.attachments > li{
  flex: 0 0 50%;
  padding: 1em;
}

/* ___ PICTURES ___*/
ul.attachments li.image{
  /* maximum height is the paper sheet */
  max-height: calc(29.7cm - calc(1.6cm + 2.4cm));

  /* display: flex;
  flex-direction: column; */
}
ul.attachments li.image > p{
  /* flex-grow: 0;
  flex-shrink: 0; */
}
ul.attachments .img-container{
  /* flex-grow: 0;
  flex-shrink: 1; */
  /* max-height: calc(calc(29.7cm - calc(2 * 1.6cm)) - 4em); */
}

ul.attachments img{
  width: 100%;
  height: auto;
  max-height: calc(calc(29.7cm - calc(1.6cm + 2.4cm)) - 4em);
  /* max-height: 100%; */

  /* l'image est rogner si trop haute ! */
  object-fit: cover;
  object-position: cover;
}

/* ___ COMMENTS ___*/

ul.attachments .comment .text{
  display: inline-block;
  width: auto;
  margin: 0;

  font-family: "Liberation Serif";
  font-size: 1rem;

  border: 1px solid black;
  padding: 1em 1.5em;
  border-radius: 2em;
}

.damaged ul.attachments .comment .text{
  font-style: italic;
}
.missing ul.attachments .comment .text{
  border-style: dashed;
}

/* not show syscomment ? */
ul.attachments .syscomment .text{
  background: whitesmoke;
  color: grey;
  padding: 0.5em 1em;
}
ul.attachments .syscomment{
  display: none;
}
