@media print{

  @page {
    size: A4;
    margin-top: 1.6cm;
    margin-left: 1.6cm;
    margin-right: 1.6cm;
    margin-bottom: 2.4cm;

    @top-right{
      content: "p. " counter(page);
    }
  }

  /* @page:left{
    @left-top {
    }
  }
  @page:right{
    @right-top {
      content: "p. " counter(page);
    }
  } */

  @page incident{
    @bottom-left {
      content: "⬤\00A0" string(potelet-id) "\00A0\2014\2014\2014\2014\00A0n°" counter(potelet) "\00A0in\00A0";
      text-transform: lowercase;
    }
    @bottom-center {
      content: "cluster " counter(cluster);
      border-radius: 50%;
      border: 1pt solid black;
      margin: 0.5cm 0;
      width: 3.6cm;
    }
    @bottom-right {
      content: "\00A0\00A0\2014\2014\2014\2014\2014\2014\2014\00A0\00A0of\00A0\00A0\2014\2014\2014\2014\2014\2014\2014\2014\00A0\00A0" string(postal);
    }
  }

  @page cluster{
    @bottom-center {
      content: "cluster " counter(cluster);
      border-radius: 50%;
      border: 1pt solid black;
      margin: 0.5cm 0;
      width: 3.6cm;
    }
    @bottom-right {
      content: string(postal);
    }
  }

  @page cover{
    @bottom-left {
      content: none;
    }
    @bottom-center {
      content: none;
    }
    @bottom-right {
      content: none;
    }
    @top-right {
      content: none;
    }
  }

}

/* .fake-margin-bottom{
  position: absolute;
  bottom: 0;
  left: 1.6cm;
  right: 1.6cm;
  height: 2.4cm;
  display: grid;
  grid-template-columns: 1fr 1fr 3.6cm 1fr 1fr;
} */

/* ---------- */

:root{
  --content-width: calc(var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right));
  --content-height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
}

div.pagedjs_page_content div{
  /* max-height: calc(29.7cm - calc(2 * 1.6cm)); */
}

.fullpage{
  /* width: var(--content-width);
  height: var(--content-height); */
  overflow: auto;
  width: calc(21cm - calc(2 * 1.6cm));
  height: calc(29.7cm - calc(1.6cm + 2.4cm));
}
